h1, h2, h3, h4, h5, h6{
  font-weight: 400;
}
.App h1{
  text-align: center;
  text-transform: capitalize;
}   
.mySection{
  width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.card{
  background-color: antiquewhite;
  padding: 20px;
  margin: 10px;
}
.details{
  width: 900px;
  margin: auto;
  background-color: rgb(240, 240, 240);
  padding: 30px;
  line-height: 30px;
  box-shadow: 1px 1px 20px 1px rgb(194, 194, 194);
  letter-spacing: 0.5px;
}